## Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## Vite / Build
.vite/
dist/
build/

## Editor configs
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

## Env files
.env
.env.*

## TypeScript
*.tsbuildinfo

## Logs
*.log

## Mac
._*

## Misc
coverage/
.cache/
/.pnp/
/.pnp.js
node_modules
